.cont {
    position: relative;
}

.photo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.cont:hover .photo {
  background: #FBC02D;
  opacity: 0.1;
}

.cont:hover .middle {
  background: #FBC02D;
  opacity: .7;
}
.middle {
  background-color: #FBC02D;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overy {
  color: #000;
  width: 100%;
  padding: 20px 32px;
}
